# Use Secrets Manager for deployment. These entries are the JSON secret fields:
# DATABASE_URL: agent runtime SQL login (own schema only)
# APP_DATABASE_URL: separate SELECT-only application login
# DATABASE_CA: full AWS RDS CA PEM text, with JSON-escaped newlines
# OPENAI_API_KEY: OpenAI project service account key
# STRIPE_READ_KEY: restricted Stripe read key
# STRIPE_WRITE_KEY: optional separately restricted Stripe write key
# GITHUB_TOKEN: fine-grained token scoped to aitopmusicnews-cloud/EZCopyRight
# Public settings are in infra/config.example.json and injected by CDK.
# For local use, export ALL required names from src/config.mjs.
# Never commit a filled configuration or secret JSON file.
